*{
    margin: 0;
    padding: 0;
}
body{
    transition: all .3s;
}
td:nth-child(odd){
    color: #272829;
    font-weight: bold;
}
/*Estilos en le seccion del login*/
.incorrecto-inde{
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 99;
    top: -400px;
    left: calc(50% - 125px);
    text-align: center;
    font-size: 1.5em;
    padding: .5em;
    color: white;
    background-color: crimson;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inset 0px 0px 35px black,0 2px 6px rgba(40,39,66,.44), 0 10px 20px rgba(40,39,66,.26), 76px 75px 169px -35px rgba(0,0,0,0.8);
    transition: all .5s;
}
.incorrecto-inde > span{
    font-size: 3em;
}
.inicio-sistema{
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, #FFFFFF, #F6F6F6, #DDDDDD);
}
.inicio-sistema > div:nth-child(2){
    width: 80%;
    text-align: center;
    float: left;
}
.inicio-sistema > div:nth-child(1),.inicio-sistema > div:nth-child(3){
    width: 10%;
    float: left;
}
.inicio-sistema > div:nth-child(3) > img{
    width: 100%;
}
.inicio-sistema > div:nth-child(1) > img{
    width: 200%;
}
.inde{
    position: relative;
    height: 500px;
    transform: scale(.98);
    background-color: #393C3E;
    transition: all .5s;
    margin-bottom: 50px;
    color: #DDDDDD;
    padding: 0px;
}
.inde:hover{
    transform: scale(1);
    box-shadow: 0 2px 6px rgba(40,39,66,.14), 0 10px 20px rgba(40,39,66,.06), 76px 75px 169px -35px rgba(0,0,0,0.4);
}
.inde > h2{
    margin-top: 50px;
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: 100px;
}
.inde > div{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0px;
    background-color: #545454;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}
.inde > div:nth-child(3){
    border-top: 0px;
}
.ver-pass{
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}
.inde > div > span{
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 50px;
    color: #272829;
}
.inde > div > input{
    background-color: rgba(0,0,0,0);
    border: 0px;
    position: absolute;
    top: 5px;
    width: 80%;
    right: 0px;
    box-shadow: 0px 0px 0px;
    color: greenyellow;
}
.inde > div > input:focus{
    box-shadow: 0px 0px 0px;
    color: greenyellow;
    transition: all .3s;
}
.inde > a{
    position: absolute;
    color: greenyellow;
    bottom: 30px;
    right: 30px;
}
.iniciar{
    width: 200px;
    height: 50px;
    position: absolute;
    top: 350px;
    left: calc(50% - 100px);
    background-color: crimson;
    border: 1px solid crimson;
    color: aliceblue;
    border-radius: 50px;
    transition: all .3s;
}

/*ESTILOS EN LA PARTE DEL USUARIO*/
.personal-evaluar{
    border-radius: 20px;
    margin-top: 30px;
    text-align: center;
    transition: all .3s;
}
.personal-evaluar > form > div{
    width: 100%;
    position: relative;
}
.personal-evaluar > form > div > p{
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: #393C3E;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 1.2em;
}
.personal-evaluar > form > div > div:nth-child(2){
    width: 68%;
    margin-left: 2%;
    margin-top: -12px;
    background-color: white;
}
.personal-evaluar > form > div > div:nth-child(3){
    width: 28%;
    margin-right: 2%;
    margin-top: 0px;
    position: absolute;
    background-color: white;
    right: 0px;
    top: 50px;
    height: 127px;
    border: 1px solid #DDDDDD;
    padding: 0 5%;
}
.personal-evaluar > form > div > div:nth-child(3) > p{
    margin-top: 50px;
    font-weight: bold;
}
.personal-evaluar > form > div > div:nth-child(3) > button{
    width: 100%;
    margin-top: 10px;
}
.boton-subor > button{
    margin-bottom: 15px;
    border-radius: 30px;
    background-color: #393C3E;
    box-shadow: 0px 0px 0px black;
}
.boton-subor > button:hover{
    background-color: darksalmon;
}
/*Header en la seccion del usuario*/
.area{
    width: 100%;
    height: 80px;
}
.titu-sele{
    width: 70%;
    text-align: center;
    color: #393C3E;
    position: absolute;
    left: 15%;
    top: 60px;
}
.area > div{
    width: 150px;
    height: 80px;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.area > div:nth-child(1){
    background-image: url(../img/Logo-SCT-Horizontal.png);
    left: 10px;
}
.area > div:nth-child(3){
    width: 80px;
    height: 90px;
    background-image: url(../img/Logo-API-Salina-Cruz.png);
    right: 10px;
    top: 35px;
}
.perf{
    position: fixed;
    z-index: 99;
    width: 50%;
    left: 25%;
    height: 100px;
    top: -55px;
    background-color: #393C3E;
    transition: all .3s;
}
.perf:hover{
    top: 45px;
}
.perf > div:nth-child(1) h5{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: -40px;
    margin-bottom: 0px;
    background-color: #393C3E;
    color: #F6F6F6;
    text-align: center;
    font-size: 1.3em;
    padding-top: 15px;
}
.perf > div:nth-child(1) h5:before,.perf > div:nth-child(1) h5:after{
    content: "";
    position: absolute;
    z-index: -1;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 110px solid #393C3E;
    border-radius: 20px;
    top: -114px;
}
.perf > div:nth-child(1) h5:before{
    left: -149px;
    transform: rotate(45deg);
}
.perf > div:nth-child(1) h5:after{
    right: -149px;
    transform: rotate(-45deg);
}
.perf > div:nth-child(2){
    width: 130%;
    position: absolute;
    left: -15%;
    color: #F6F6F6;
}
.perf > div:nth-child(2) > div:nth-child(1),.perf > div:nth-child(2) > div:nth-child(2){
    width: 50%;
    float: left;
}
.perf > div:nth-child(2) > div:nth-child(1) > p,.perf > div:nth-child(2) > div:nth-child(2) > p{
    width: 40%;
    float: left;
    padding-top: 10px;
    text-align: center;
}
.perf > div:nth-child(2) > div:nth-child(1) > h5,perf > div:nth-child(2) > div:nth-child(2) > h5{
    width: 60%;
    float: left;
}
.perf > div:nth-child(2) > div:nth-child(3){
    position: absolute;
    width: 80%;
    left: 10%;
    top: 40px;
}
.perf > div:nth-child(2) > div:nth-child(3) > p{
    width: 30%;
    float: left;
    text-align: center;
    padding-top: 10px;
}
.perf > div:nth-child(2) > div:nth-child(3) > h5{
    width: 70%;
    float: left;
}
.foto{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    right: 0px;
    font-size: 1.5em;
    padding-top: 5px;
    padding-left: 6px;
    background-color: #DDDDDD;
    transition: all .3s;
}
.foto > a{
    position: absolute;
    width: 50px;
    height: 22px;
    display: none;
    border-radius: 5px;
    padding-left: 5px;
    color: #393C3E;
    background-color: #DDDDDD;
    text-decoration: none;
    left: 0px;
    top: 10px;
    z-index: -1;
}
.foto > a:hover{
    color: darksalmon;
}
/*Estilos para el area de ayuda en el usuario*/
.ayuda{
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: darksalmon;
    color: white;
    font-size: 1.3em;
    padding-left: 15px;
    top: 50vh;
    left: -30px;
    transform: rotate(-90deg);
    cursor: pointer;
}
.presentacion,.pre-eva,.pre-met,.pre-per,.pre-fin{
    display: none;
    position: absolute;
    z-index: 100;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    left: calc(50% - 250px);
    top: calc(50vh - 100px);
    background-color: rgba(0,0,0,.9);
    box-shadow: 0px 0px 50px black;
}
.presentacion p:nth-child(1),.pre-fin > p:nth-child(2){
    color: white;
    width: 100%;
    font-size: 2em;
    text-align: center;
}
.presentacion p:nth-child(2){
    color: white;
    width: 100%;
    font-size: 1em;
    text-align: center;
}
.presentacion > i,.pre-eva > i,.pre-met > i,.pre-per > i,.pre-fin > i{
    color: white;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 2em;
    cursor: pointer;
}
.pre-eva,.pre-met,.pre-per{
    width: 300px;
    left: calc(98% - 300px);
    top: calc(95vh - 200px);
    color: white;
    padding: 15px 15px;
}
.pre-met{
    left: 50%;
    top: 40vh;
}
.pre-per{
    left: 0px;
    top: 10vh;
}
.pre-fin{
    text-align: center;
    padding: 15px 15px;
    color: white;
}
/*Boton para ir a la seccion de insertar metas del usuario*/
.insert-me div{
    width: 150px;
}
.insert-me  div a{
    width: 150px;
    height: 150px;
    border-radius:50%;
    text-decoration: none;
    font-size: 3em;
    padding-top: 45px;
    padding-left: 45px;
    background-color: #393C3E;
    color: white;
    transition: all .3s;
}
.insert-me  div a:hover{
    background-color: darksalmon;
}
.insert-me  div a:hover:after{
    border-bottom-color: darksalmon;
}
.insert-me  div a:after{
    content: "";
    position: absolute;
    left: 0px;
    top: 60px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #393C3E;
    transform: rotate(-90deg);
    transition: all .3s;
    animation: 2s meta infinite;
}
@keyframes meta{
    60%{
        left: -80px;
        transform: rotate(-90deg);
    }
    70%,100%{
        transform: rotate(90deg);
    }
}
.insert-me  div:before{
    content: "Insertar Metas";
    position: absolute;
    z-index: -1;
    font-size: 20px;
    color: white;
    top: 20px;
    left: 35px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #393C3E;
    transition: all .3s;
}
.insert-me div:hover:before{
    top: -50px;
}
.insert-me{
    margin-top: 150px;
    margin-bottom: 50px;
}
/* Estilos en el area de agregar metas*/
.cale-usu,.cale-usu-1{
  transform: scale(1.5);
  margin-top: 10px;
  margin-left: 50px;
}
.cale-usu-1{
  margin-top: 0px;
}
.metas{
    margin-top: 50px;
}
.metas > form > div > div > div:nth-child(1){
    height: 300px;
}
.metas > form > div > div > div:nth-child(3) > button{
    margin-top: 20px;
}
.metas > div > div:nth-child(2),.metas > div > div:nth-child(3),.metas > div > div:nth-child(4){
    margin-top: 440px;
}
.inser-met-titu{
    margin-top: 50px;
    font-size: 2.5em;
    text-align: center;
}
.metas-conjunto{
    width: 100%;
    position: relative;
}
.meta-mostrada,.metas-conjunto > div:nth-child(2){
    width: 100%;
    margin-bottom: 50px;
}
.meta-mostrada{
    position: relative;
}
.metas > div > .metas-conjunto > .meta-mostrada > p{
    width: 60%;
    margin-left: 20%;
    transition: all .3s;
    position: relative;
}
.metas > div > .metas-conjunto > .meta-mostrada > p > span,#califi-metas > .metas-conjunto > .meta-mostrada > p > span{
    margin-left: 45%;
    font-weight: bold;
}
.metas > div > .metas-conjunto > .meta-mostrada > p:hover,#califi-metas > .metas-conjunto > .meta-mostrada > p:hover{
    background-color: #F6F6F6;
}
.metas > div > .metas-conjunto > .meta-mostrada > p:before,#califi-metas > .metas-conjunto > .meta-mostrada > p:before{
    content: "";
    position: absolute;
    width: 2%;
    left: -2%;
    height: 5px;
    background-color: #DDDDDD;
    transition: all .5s;
    top: -10px;
}
.metas > div > .metas-conjunto > .meta-mostrada > p:after,#califi-metas > .metas-conjunto > .meta-mostrada > p:after{
    content: "";
    position: absolute;
    width: 2%;
    height: 5px;
    background-color: #DDDDDD;
    transition: all .5s;
    bottom: -10px;
    right: -2%;
}
.metas > div > .metas-conjunto > .meta-mostrada > p:hover:before,.metas > div > .metas-conjunto > .meta-mostrada > p:hover:after,#califi-metas > .metas-conjunto > .meta-mostrada > p:hover:before,#califi-metas > .metas-conjunto > .meta-mostrada > p:hover:after{
    width: 104%;
}
.metas > div > .metas-conjunto > .meta-mostrada > button,.metas > div > .metas-conjunto > div:nth-child(3){
    position: absolute;
    right: 10%;
    top: 0px;
}
.metas > div > .metas-conjunto > div:nth-child(2) > div{
    width: 33.33%;
    float: left;
    transition: all .3s;
    border-radius: 10px;
}
.metas-conjunto > div:nth-child(2) > div:nth-child(1):hover,.metas-conjunto > div:nth-child(2) > div:nth-child(2):hover,.metas-conjunto > div:nth-child(2) > div:nth-child(3):hover{
    background-color: #F6F6F6;
}
.metas-conjunto > div:nth-child(2) > div > div{
    position: relative;
    transition: all .3s;
}
.metas > div > .metas-conjunto > div:nth-child(2) > div > div > p{
    width: 80%;
    margin-left: 5%;
}
.metas > div > .metas-conjunto > div:nth-child(2) > div > div > p > span{
    font-weight: bolder;
    margin-left: 40%;
}
.metas-conjunto > div:nth-child(2) > div > div:nth-child(1):hover{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #DDDDDD;
}
.metas-conjunto > div:nth-child(2) > div > div:nth-child(2):hover{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #DDDDDD
}
.metas > div > .metas-conjunto > div:nth-child(2) > div > div > button:nth-child(2){
    position: absolute;
    top: 0px;
    right: 5%;
}
.metas > div > .metas-conjunto > div:nth-child(2) > div > div > button:nth-child(3){
    margin-left: 40%;
}
.metas > div > .metas-conjunto > div:nth-child(2) > div:nth-child(4) > button{
        display: none;
    }
.metas > div > .metas-conjunto > div:nth-child(2) > div:nth-child(4){
    width: 100%;
    margin-top: 40px;
    position: relative;
}
/*Estilos en la seccion de Calificar cuestionarios*/
.datos-evaluado{
    width: 280px;
    height: auto;
    border: 1px solid #F6F6F6;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all .3s;
    position: fixed;
    top: 200px;
    z-index: 89;
    background-color: #F6F6F6;
}
.datos-evaluado:hover{
    box-shadow: 0px 0px 10px #545454;
}
.datos-evaluado > h4{
    width: 281px;
    height: 50px;
    background-color: #393C3E;
    margin-left: -17px;
    margin-top: 0px;
    border-top-right-radius: 20px;
    color: white;
    padding-top: 10px;
}
.datos-evaluado > div > p:nth-child(odd){
    margin-bottom: 0px;
    font-weight: bold;
}
.titu-cali-cues{
    margin-top: 70px;
    width: 100%;
    margin-left: 25%;
}
#califi-cues{
    height: auto;
}
#califi-cues > button{
    margin-bottom: 100px;
    margin-left: 40%;
}
/*Estilos en la seccion de Calificar metas*/
#califi-metas{
    position: relative;
}
#califi-metas > div{
    height: auto;
    position: relative;
    transition: all .3s;
}
#califi-metas > div > div:nth-child(1){
    width: 100%;
}
#califi-metas > div > div:nth-child(2){
    width: 100%;
    overflow-y: hidden;
}
#califi-metas > div > div:nth-child(2) > div{
    margin-bottom: 50px;
    border-radius: 10px;
}
#califi-metas > div > div:nth-child(2) > div > div:nth-child(2){
    height: 40px;
    margin-top: -13px;
    text-align: center;
}
#califi-metas > div > div:nth-child(2) > div > div:nth-child(1) > p{
    padding: 10px;

}
#califi-metas > div > div:nth-child(2) > div > div:nth-child(1) > p > span{
    font-weight: bolder;
    margin-left: 30%;
}
#califi-metas > div > div:nth-child(3){
    display: block;
    width: 100%;
}
#califi-metas > div > div:nth-child(3) > label{
    margin-left: 2%;
}
#califi-metas > div{
    position: relative;
    width: 100%;
}
#califi-metas > div > div:nth-child(1){
    width: 80%;
    margin-left: 10%;
}
#califi-metas > div > div:nth-child(2){
    width: 100%;
}
#califi-metas > div > div:nth-child(2) > div{
    width: 33.33%;
    float: left;
}
#califi-metas > div > div:nth-child(3){
    width: 100%;
    margin-top: 50px;
}
#califi-metas > button{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 20%;
    margin-left: 79%;
}
.final{
    margin-bottom: 30px;
}
.borde-abajo{
    border-bottom: 2px solid grey;
}
/*Estilos para mostrar la calificacion del usuario*/
.cuadro_calif{
    position: relative;
    width: 100%;
    padding-top: 100px;
}
.cuadro_calif > p:nth-child(1){
    width: 50%;
    left: 25%;
    top: 120px;
    text-align: center;
    border-radius: 20px;
    transition: all .5s;
    position: absolute;
}
.cuadro_calif > p:nth-child(1):before{
    content: "";
    position: absolute;
    width: 2%;
    left: 10%;
    height: 5px;
    background-color: #DDDDDD;
    transition: all .5s;
    top: -10px;
}
.cuadro_calif > p:nth-child(1):after{
    content: "";
    position: absolute;
    width: 2%;
    right: 10%;
    height: 5px;
    background-color: #DDDDDD;
    transition: all .5s;
    bottom: -10px;
}
.cuadro_calif > p:hover:before,.cuadro_calif > p:hover:after{
    width: 80%;
}
.cuadro_calif > p:nth-child(1):hover{
    background-color: #F6F6F6;
}
.cuadro_calif > p > span{
    font-size: 2em;
    font-weight: bold;
}
.cuadro_calif > p:nth-child(2){
    margin-top: 120px;
}
.cuadro_calif > p:nth-child(2),.cuadro_calif > p:nth-child(4){
    width: 50%;
    margin-left: 25%;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #393C3E;
    color: #F6F6F6;
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
}
.cuadro_calif > table{
    width: 48%;
    margin-left: 26%;
    margin-top: -12px;
}
.cuadro_calif > table:nth-child(5){
    margin-top: -13px;
}

/*ESTILOS EN LA PARTE DEL ADMINISTRADOR*/
/*Estilos que usan todas las secciones del administrador*/
h2{
    margin-bottom: 40px;
    text-shadow: 2px 2px 5px #545454;
}
h1{
    text-shadow: 2px 2px 5px #545454;
    margin-bottom: 30px;
}
.mano{
    font-size: 1.7em;
    position: absolute;
    right: 30px;
    top: 15px;
    border-width: 0px;
    background-color: #DDDDDD;
    transition: all .5s;
    transform: rotate(180deg);
}
.mano{
    top: 20px;
}
.panel-default>.panel-heading{
    background-color: #DDDDDD;
}
.panel-default{
    border:0px;
    box-shadow: 0px 0px 0px;
}
.logo{
    position: fixed;
    z-index: -1;
    opacity: .07;
    right: 0px;
    width: 30%;
    height: auto;
    bottom: 0px;
}
.logo img{
    width: 100%;
}
/*Header del administrador*/
.hea-adm{
    height: 60px;
    background-color: #393C3E;
    position: relative;
    /*1920 * 1080*/
}
.hea-adm > div:nth-child(1){
    font-size: 1.5em;
}
.hea-adm > div:nth-child(1) > span{
    width: 100%;
    text-align: center;
    color: white;
    cursor: pointer;
    display: none;
}
.hea-adm > div:nth-child(2) > div,.hea-adm > div:nth-child(3) > div{
    width: 120px;
    height: 50px;
    margin: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.hea-adm > div:nth-child(2) > div{
    background-image: url(../img/Logo-SCT-Horizontal-blanco.png);
}
.hea-adm > div:nth-child(2){
    left: -90px;
}
.hea-adm > div:nth-child(3){
    position: absolute;
    right: 80px;
}
.hea-adm > div:nth-child(3) > div{
    background-image: url(../img/Logo-API-Salina-Cruz-blanco.png);
}
h3{
    width: 50%;
    position: absolute;
    left: 25%;
    top: 30px;
    color: white;
    font-size: 2em;
    text-align: center;
}
.cerr{
    position: absolute;
    z-index: 99;
    right: 0px;
    top: 55px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.cerr > span{
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    z-index: 20;
    background-color: #393C3E;
    color: #545454;
    font-size: 2.5em;
    padding-left: 12px;
    padding-top: 10px;
    cursor: pointer;
    transition: all .3s;
}
.cerr > a{
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: .8em;
    top: 25px;
    left: 10px;
    border-radius: 50%;
    padding-top: 1px;
    padding-left: 3px;
    background-color: white;
    color: crimson;
    box-shadow: 0px 0px 5px #DDDDDD;
    transition: all .3s;
}
/*Barra de menu del administrador*/
.menu-desplazado{
    transition: all .5s;
    position: absolute;
    width: 285px;
    z-index: 99;
    top: 5px;
    margin-top: 100px;
    left: -15px;
    height: auto;
}
.menu-desplazado > div{
    transition: all .3s;
}
.menu-desplazado > div > p,.menu-desplazado > div > span{
    background-color: #393C3E;
    color: white;
    font-size: 1.1em;
    height: 40px;
    padding-top: 5px;
    margin-bottom: 0px;
}
.menu-desplazado > div > p{
    width: 270px;
    padding-left: 50px;
}
.menu-desplazado > div > span{
    left: 10px;
}
.menu-desplazado > div > p > a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.menu-desplazado > div > div > p > a{
    text-decoration: none;
    color: dimgrey;
    cursor: pointer;
}
p > a:hover{
    text-decoration: none;
    color: white;
}
.menu-desplazado > div > div > p{
    font-size: .9em;
    width: 90%;
}
.menu-desplazado > div > span{
    position: absolute;
    height: 40px;
    width: 48px;
    top: 0px;
    padding-top: 10px;
    z-index: 10;
}
.menu-desplazado > div > div{
    transition: all .3s;
    height: 35px;
    width: 270px;
    padding-top: 5px;
    background-color: white;
}
.menu-desplazado > div > div > span{
    padding: 0px;
    width: 10%;
}
.menu-desplazado > div > div:hover{
    background-color: #DDDDDD;
}
/*Boton de ayuda y recorrido en la ayuda del administrador*/
.adm-ayuda{
    position: absolute;
    height: 40px;
    z-index: 99;
    top: 615px;
    background-color: #393C3E;
    width: 270px;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}
.adm-ayuda:hover{
    background-color: crimson !important;
}
.adm-ayuda > span{
    margin-top: 7px;
    margin-left: -22px;
}
.ayuda-adm{
    width: 300px;
    height: 300px;
    position: fixed;
    border-radius: 20px;
    background-color: rgba(0,0,0,.8);
    z-index: 100;
    left: calc(50% - 150px);
    top: calc(50vh - 150px);
    padding: 1em;
    display: none;
    box-shadow: 0px 0px 20px black;
}
.ayuda-adm > p:nth-child(1){
    color: white;
    height: 205px;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}
.ayuda-adm > p:nth-child(2){
    color: crimson;
    margin-left: 220px;
    font-size: 3em;
    cursor: pointer;
}
.efecto-ayuda{
    animation: .5s ayuda 1;
}
.flecha{
    position: absolute;
    color: #393C3E;
    font-size: 5em;
    left: 500px;
    top: 180px;
    opacity: 0;
    transition: all .3s;
    animation: 2s flecha infinite;
}
@keyframes flecha{
    50%{
        left: 440px;
    }
}
@keyframes ayuda{
    50%{
        transform: scale(0);
        opacity: 0;
    }
}
/*Titulo de informacion basica en los desplegables del administrador*/
.info-basi{
    text-align: center;
    background-color: #393C3E;
}
.info-basi > p{
    margin-top: 10px;
    color: #DDDDDD;
}
.mos-eva > table{
    margin-top: -30px;
}
.mos-eva > table  tr:nth-child(even){
    background-color: #F6F6F6;
}
/*Estilos de mensajes de errores en la seccion del administrador*/
.bueno,.malo{
    position: fixed;
    right: 0px;
    width: 300px;
    height: 80px;
    bottom: 40vh;
    transition: all .5s;
}
.bueno i,.malo i{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0px;
    border-radius: 50%;
    font-size: 3em;
    color: black;
    padding: 12px;
    transition: all .3s;
    transform: scale(0);
}
.bueno i{
    background-color: springgreen;
}
.malo i{
    background-color: crimson;
}
.bueno p,.malo p{
    position: absolute;
    width: 0px;
    right: -5px;
    opacity: 0;
    height: 80px;
    font-size: 1.2em;
    font-weight: bolder;
    padding-top: 23px;
    padding-left: 10px;
    padding-right: 80px;
    border-radius: 50px;
    transition: all .5s;
}
.bueno p{
    background-color: springgreen;
}
.malo p{
    background-color: red;
}
/*Estilos para la seccion del usuario en el administrador*/
.di-bus{
    margin-top: 20px;
    margin-bottom: -100px;
}
.bus{
    height: 50px;
    border: 0px;
    background-color: #F6F6F6;
    border-radius: 5px;
    transition: all .3s;
    position: relative;
    border: 3px solid #F6F6F6;
}
.bus:hover{
    border-top: 3px solid #393C3E;
    border-bottom: 3px solid #393C3E;
}
.bus:focus{
    background-color: #393C3E;
    color: white;
}
.bola{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 15px;
    background-color: forestgreen;
}
.bola-roj{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 15px;
    background-color: darkred;
}
/*Estilos para la seccion de registro de usuario en el administrador*/
.formu{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding-bottom: 20px;
    transition: all 1s;
    border: 1px solid #DDDDDD;
    border-top: 0px;
}
.fa-pulse,.fa-check-square,.fa-window-close{
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 20px;
}
.fa-check-square{
    color: greenyellow;
    transform: scale(1.5);
}
.fa-window-close,.glyphicon-remove{
    transform: scale(1.5);
}
.formu{
    padding: 0px;
}
.formu > div{
    position: relative;
    height: 280px;
    background-color: white;
}
.formu > div:nth-child(2){
    height: 350px;
}
.formu > div > p{
    position: relative;
    width: 103.6%;
    height: 50px;
    background-color: #393C3E;
    left: -1.8%;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    color: white;
    margin-bottom: 7px;
    font-size: 1.2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.formu-reg{
    margin-top: 50px;
}
/*Estilos para el area de modificar el usuario en el administrador*/
.form-modal-mod p{
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    background-color: #272829;
    color: white;
}
.form-modal-mod > div{
    height: 350px;
    border: 1.5px solid #DDDDDD;
    margin: -40px;
    background-color: #F6F6F6;
    padding-top: 40px;
}
.form-modal-mod > div > div{
    height: 80px;
    margin-bottom: 0px;
}
.form-modal-tra p{
    width: 100%;
    height: 40px;
    padding-top: 7px;
    background-color: #272829;
    color: white;
    text-align: center;
    position: absolute;
    left: 0px;
    cursor: pointer;
}
.form-modal-tra > div{
    height: 250px;
    margin: 40px -40px 0 -40px;
    border: 1.5px solid #DDDDDD;
    background-color: #F6F6F6;
}
.form-modal-tra > div > div:nth-child(1),.form-modal-tra > div > div:nth-child(2){
    margin-top: 30px;
}
.btn-mod-usu{
    width: 150px;
}
/* Area de datos de evaluacion en la seccion del administrador*/
.dato-eva{
    position: absolute;
    top: calc(50vh - 180px);
    right: 0px;
    width: 300px;
    height: 400px;
    background-color: #F6F6F6;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    transition: all .5s;
}
.dato-eva:hover{
    box-shadow: -3px 3px 10px #545454;
}
.dato-eva > h4{
    width: 100%;
    height: 40px;
    background-color: #393C3E;
    text-align: center;
    margin-top: 0px;
    padding-top: 5px;
    color: white;
    border-top-left-radius: 10px;
    margin-bottom: 0px;
}
.dato-eva > p:nth-child(even){
    margin: 0px;
    width: 100%;
    height: 30px;
    font-weight: bold;
    text-align: center;
}
.dato-eva > p:nth-child(odd){
    margin: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
}
/*Estilos para el area de cuestionarios en el administrador*/
.buscar-usu, .mostrar-evalu{
    margin-top: 50px;
    margin-bottom: 300px;
    transition: all .5s;
}
.buscar-usu > div, .mostrar-evalu > div{
    height: auto;
    padding-top: 40px;
}
#form_cuestionario > div:nth-child(2){
    margin-bottom: 40px;
}
#form_cuestionario > div:nth-child(2) > input{
    height: 40px;
}
.cre-cue{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border: 1px solid #F6F6F6;
    border-radius: 20px;
    padding: 0px;
    transition: all .3s;
}
.cre-cue:hover{
    box-shadow: 0px 0px 40px rgba(0,0,0,.5);
}
.cuestionario-nuevo-titu{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #DDDDDD;
    margin-top: -1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cuestionario-nuevo-titu > h1{
    width: 80%;
    text-align: center;
    height: auto;
}
.cuestionario-nuevo-titu > button{
    width: 10%;
    margin: 30px 5%;
}
.cre-cue  button{
    margin-bottom: 50px;
}
.cre-cue > div > form > div:nth-child(3) > textarea{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .3s;
}
.cre-cue > div > form > div:nth-child(3) > textarea:hover{
    box-shadow: 0px 0px 10px grey;
}

#cuadro_pregunta > tr{
    text-align: justify;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
    border-bottom-width: 1px;
}
.grupo-btn-cues{
    width: 100%;
    height: 100px;
    position: relative;
}
.grupo-btn-cues button{
    width: 100%;
    position: absolute;
}
.grupo-btn-cues button:nth-child(1){
    top: 0px;
}
.grupo-btn-cues button:nth-child(2){
    top: 50px;
}
.btn-modi-visu{
    width: 100%;
    height: 80px;
}
.btn-modi-visu button:nth-child(1){
    position: absolute;
    width: 30%;
    left: 10%;
    top: 15px;
}
.btn-modi-visu button:nth-child(2){
    position: absolute;
    width: 30%;
    right: 10%;
    top: 15px;
}
.visu-cues-btn{
    width: 50%;
    left: 25%;
}
.btn-uno,.btn-dos,.btn-tres{
    width: 33.33%;
}
.boton-visu{
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
}
.botones-visu,.btn-solo,.botones-cues,.btn-evaluados{
    margin-top: -26px;
    position: relative;
    width: 100%;
    height: 80px;
    border: 1px solid #DDDDDD;
    background-color: #F6F6F6;
}
.botones-visu > button:nth-child(1){
    width: 150px;
    position: absolute;
    left: 20%;
    top: 15px;
}
.botones-visu > button:nth-child(2){
    right: 20%;
    width: 150px;
    position: absolute;
    top: 15px;
}
.btn-evaluados > button{
    top: 15px;
    position: absolute;
}
.btn-evaluados > button:nth-child(1){
    left: 10%;
}
.btn-evaluados > button:nth-child(2){
    right: 10%;
}
.boton-repor{
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}
.boton-repor > button{
    position: absolute;
    width: 20%;
    font-weight: bolder;
    background-color: #DDDDDD;
    font-size: .7em;
    z-index: 99;
}
.boton-repor > button:hover{
    background-color: #393C3E;
    color: white;
    border: 0px;
}
.boton-repor > button:nth-child(2){
    left: 29%;
}
.boton-repor > button:nth-child(3){
    right: 29%;
}
.botones-cues > button{
    margin-top: 15px;
}
.radio-califi > label{
    width: 9%;
    text-align: center;
    margin-top: 20px;
}
input[type=radio]{
    width: 20px;
    height: 20px;
}
input[type=radio]:checked{
    animation: .5s radio-bu 1;
}
@keyframes radio-bu{
    60%{
        position: absolute;
        margin-top: -20px;
        width: 30px;
        height: 30px;
    }
}
.fin-modif-cues{
    position: fixed;
    bottom: 10vh;
    right: 40px;
    transition: all .3s;
}
/*Graficas*/
#modal_detalles > .modal-dialog{
    width: 60%;
}
.grafic{
    width: 50%;
    margin-left: 25%;
    height: auto;
    transition: all .3s;
}
#papa_detalles > div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 20px;
}
#papa_detalles > div > div{
    width: 50%;
}
#papa_detalles > div > div > p{
    width: 95%;
    text-align: center;
    background-color: #393C3E;
    color: white;
    height: 40px;
    padding-top: 5px;
}
#papa_detalles > div > div > div{
    width: 95%;
    margin-top: -13px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#papa_detalles > div > div > div > p{
    width: 50%;
    height: 50px;
    margin-bottom: 0px;
}
#papa_detalles > div > div > div > p:nth-child(1),#papa_detalles > div > div > div > p:nth-child(2){
    background-color: #F6F6F6;
}
#papa_detalles > div > div > div > p:nth-child(3),#papa_detalles > div > div > div > p:nth-child(4){
    background-color: #DDDDDD;
}
.pedir-contra{
  width: 115.3%;
  margin-top: 45px;
  margin-left: -7.7%;
  padding: .5em;
  height: 50px;
  background-color: crimson;
  color: white;
  text-align: center;
}
/*Estilos generales para todas las ventanas modales*/
#modal_modi_usu > .modal-dialog,#modal_detalles > .modal-dialog{
    margin-top: 0px !important;
}
.modal-footer{
    background-color: #393C3E;
    margin-top: -20px;
}
#nueva_evaluacion .modal-footer,#modificar_evaluacion .modal-footer{
    margin-top: 400px;
}
/*Estilos para todos los input de fecha (calendarios)*/
.datepicker-group{
    margin-top: 0px;
    position: relative;
}
.datepicker-group input{
    height: 40px;
    border-radius: 5px;
}
.datepicker-group span{
    position: absolute;
    left: 63%;
}
.z-ind-cale{
    z-index: 99;
}
.me-mo-ca .cale-usu{
    position: absolute;
    margin-top: 90px;
}

/*Media queries para el responsive general*/
@media (max-width: 970px){
    .adm-ayuda{
        display: none;
    }
    #compromisos > div:nth-child(3){
        margin-left: 0%;
    }
    #menu-general{
        display: block;
    }
    .menu-desplazado{
        width: 100%;
        background-color: white;
        left: -1000px;
    }
    .menu-desplazado > div{
        width: 25%;
        padding: 0px;
    }
    .menu-desplazado > div > p{
        font-size: .8em;
        width: 100%;
        padding-top: 10px;
        text-align: center;
    }
    .menu-desplazado > div > div{
        height: 35px;
        width: 100%;
    }
    .menu-desplazado > div > div > p{
        font-size: .7em;
    }
    .menu-desplazado span{
        font-size: .7em;
    }
    .di-bus{
        margin-top: 100px;
    }
    .datos-evaluado{
        margin-top: 0px;
        width: 100%;
        height: auto;
    }
    .datos-evaluado > h4{
        width: 106%;
    }
    .titu-cali-cues{
        margin-top: 210px;
        margin-left: 0;
    }
    .datos-evaluado > div{
        width: 33.33%;
        float: left;
    }
    #califi-metas > .metas-conjunto:nth-child(3){
        margin-top: 515px;
    }
    .dato-eva{
        width: 66.66%;
        left: 16%;
        height: auto;
        top: 105px;
        border-bottom-right-radius: 10px;
    }
    .dato-eva > h4{
        border-radius: 0px;
    }
    .dato-eva > p:nth-child(even),.dato-eva > p:nth-child(odd){
        width: 25%;
        float: left;
        font-size: .7em;
    }
    .dato-eva > p:nth-child(odd){
        width: 25%;
    }
    .eva-bus{
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .mostrar-evalu{
        margin-top: -100px;
    }
    .mostrar-evalu > div{
        margin-top: -70px;
        padding-top: 0px;
    }
    .visu-pre{
        margin-top: 150px;
    }
    .boton-report{
        position: absolute;
    }
    .metas > div > div:nth-child(2),.metas > div > div:nth-child(3),.metas > div > div:nth-child(4){
        margin-top: 500px;
    }
    .metas > div > .metas-conjunto > div:nth-child(2) > div > div > p > span{
        margin-left: 20%;
    }
    .formu > div:nth-child(1){
        height: 370px;
    }
    .formu > div:nth-child(2){
        height: 450px;
    }
    .cuadro_calif > p:nth-child(2){
        margin-top: 170px;
    }
    .boton-repor{
        margin-top: -160px;
    }
    .boton-repor > button{
        width: 30%;
    }
    .boton-repor > button:nth-child(2){
        left: 15%;
    }
    .boton-repor > button:nth-child(3){
        right: 15%;
    }
    .hea-adm > div:nth-child(2){
        left: 0px;
    }
}
@media (max-width: 750px){
    h1{
        font-size: 2em;
    }
    .personal-evaluar > form > div > div > div:nth-child(2) > div > div > button{
        font-size: .5em;
    }
    .personal-evaluar > form > div > div > div:nth-child(2) > div > div{
        margin-left: 0;
    }
    .menu-desplazado > div > div{
        min-height: 30px;
        height:auto;
        margin-bottom: -13px;
    }
    .menu-desplazado > div > div > p{
        padding: 0px;
    }
    .menu-desplazado > div > div > span,.menu-desplazado > div > span{
        display: none;
    }
    .menu-desplazado > div > p{
        width: 100%;
        margin-left: 0px;
    }
    .titu-cali-cues{
        margin-top: 250px;
    }
    #califi-metas > .metas-conjunto:nth-child(3){
        margin-top: 0px;
    }
    .metas > div > div:nth-child(2),.metas > div > div:nth-child(3),.metas > div > div:nth-child(4){
        margin-top: 600px;
    }
    .metas > form > div > div > div:nth-child(1){
        height: 200px;
    }
    .formu-reg{
        margin-top: 70px;
    }
    .formu > div:nth-child(1){
        height: 350px;
    }
    .formu > div:nth-child(2){
        height: 800px;
    }
    .dato-eva{
        width: 85%;
        left: 0px;
    }
    h3{
        font-size: 1.3em;
    }
    .visu-pre{
        margin-top: 100px;
        margin-bottom: -100px;
    }
    .mostrar-evalu{
        margin-top: 100px;
    }
    .cuadro_calif > p:nth-child(2){
        margin-top: 230px;
    }
    .boton-repor > button{
        width: 40%;
    }
    .boton-repor > button:nth-child(2){
        left: 5%;
    }
    .boton-repor > button:nth-child(3){
        right: 5%;
    }
}
@media (max-width: 600px){
    .menu-desplazado > div > p{
        text-align: left;
        padding-left: 0px;
    }
    .titu-sele{
        font-size: 1.5em;
    }
    .datos-evaluado{
        top: 180px;
    }
    .datos-evaluado > h4{
        width: 110%;
        font-size: 1em;
        padding-top: 15px;
    }
    .datos-evaluado p{
        font-size: .5em;
    }
    .eva-bus{
        margin-top: 200px;
    }
    .dato-eva > p{
        font-size: .5em;
    }
    .botones-visu > button:nth-child(1){
        left: 10%;
        top: 0px;
    }
    .botones-visu > button:nth-child(2){
        left: 60%;
        top: 0px;
    }
    #califi-metas > div > div:nth-child(2) > div,.metas > div > .metas-conjunto > div:nth-child(2) > div{
        width: 100%;
    }
    .metas > div > .metas-conjunto > .meta-mostrada > p{
        width: 85%;
        margin: 0;
    }
    .metas > div > div:nth-child(2),.metas > div > div:nth-child(3),.metas > div > div:nth-child(4){
        margin-top: 1000px;
    }
    .metas > div > .metas-conjunto > div:nth-child(2) > div > div > p > span{
        margin-left: 35%;
    }
    .metas > div > .metas-conjunto > div:nth-child(3){
        right: 0px;
    }
    #califi-metas > button{
        margin-left: 25%;
        width: 50%;
    }
    .titu-cali-cues{
        margin-top: 180px;
        font-size: 1.5em;
    }
    .radio-califi > label{
        width: 8%;
        font-size: .5em;
    }
    .personal-evaluar h4{
        font-size: .5em;
        text-align: left;
    }
    .boton-subor{
        width: 85px;
    }
    .boton-subor > button{
        font-size: .5em;
        padding: 5px;
    }
    .buscar-usu > div > div > div > div:nth-child(2) > div > table,.panel-default>.panel-heading+.panel-collapse>.panel-body > table{
        width: 100%;
        margin-left: -30px;
        font-size: .8em;
    }
    .buscar-usu > div > div > div > div:nth-child(2) > div > div{
        margin: 0;
    }
    .buscar-usu > div > div > div > div:nth-child(2) > div > div > button{
        width: 100%;
        padding: 10px;
        font-size: .8em;
    }
    .cuadro_calif > p:nth-child(1){
        top: 150px;
        width: 70%;
        left: 15%;
    }
    .cuadro_calif > p:nth-child(2),.cuadro_calif > p:nth-child(4){
        width: 80%;
        margin-left: 10%;
    }
    .cuadro_calif > table{
        width: 78%;
        margin-left: 11%;
    }
    .hea-adm > div:nth-child(1){
        position: absolute;
        top: 10px;
        left: -5px;
        z-index: 99;
    }
    .hea-adm > div:nth-child(5){
        right: 100px;
    }
    .hea-adm > div > div{
        transform: scale(.7);
    }
    .cerr > p:nth-child(1){
        right: 0px;
    }
    .area > div{
        width: 70px;
        height: 40px;
    }
    .area > div:nth-child(3){
        width: 50px;
        height: 30px;
        top: 50px;
    }
    .perf  h5, .perf p{
        font-size: .5em;
    }
    .perf > div:nth-child(1) h5{
        font-size: .7em;
    }
    .personal-evaluar > form > div  p{
        font-size: 1em;
    }
    .personal-evaluar > form > div  td{
        font-size: .5em;
    }
}
@media screen and (min-width:0\0){
    .personal-evaluar > form > div > div > div:nth-child(2) > div > div{
        margin-left: 400px;
    }
}
@media (min-width: 1920px){
    .menu-desplazado{
        top: 80px;
        margin-left: 40px;
        opacity: 1;
        transform: scale(1.3);
    }
    #menu-general{
        display: none;
    }
    .personal-evaluar{
        width: 50%;
        margin-left: 15%;
    }
    #califi-cues,#califi-metas{
        width: 60%;
        margin-left: 20%;
    }
    .titu-cali-cues{
        margin-left: 0;
    }
    .metas{
        width: 80%;
        margin-left: 10%;
    }
    .dato-eva{
        top: calc(45vh - 200px);
    }
    .perf > div:nth-child(1) h5:before{
        top: -113px;
        left: -145px;
    }
    .perf > div:nth-child(1) h5:after{
        top: -112px;
        right: -145px;
    }
    .area > div:nth-child(1){
        left: 15%;
    }
    .area > div:nth-child(3){
        right: 18%;
    }
    .cerr{
        transform: scale(1.7);
        top: 90px;
        right: 35px;
    }
    #modal_modi_usu > .modal-dialog{
        margin-top: 150px !important;
    }
    .adm-ayuda{
        width: 353.5px;
        height: 50px;
        top: 767px;
        font-size: 1.7em;
    }
    .adm-ayuda span{
        margin-top: 10px;
    }
    .cerr > a{
        width: 25px;
        height: 25px;
        font-size: 1.1em;
        padding-top: 0px;
        padding-left: 3px;
    }
}