*{
    margin: 0px;
    padding: 0px;
}
p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 0px;
    border: 1px solid #545454;
}
header{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0px;
}
header > div:nth-child(1),header > div:nth-child(3){
    width: 20%;
    float: left;
}
header > div:nth-child(2){
    width: 60%;
    float: left;
}
h1{
    font-size: 1.5em;
    text-align: center;
}
header > div:nth-child(3) > img{
    position: absolute;
    right: 10px;
}
h2{
    font-size: 2em;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
.fechas{
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
}
.fechas > p{
    width: 50%;
    float: left;
    background-color: #F6F6F6;
}
.fechas > p:nth-child(1),.fechas > p:nth-child(2){
    background-color: #545454;
    color: white;
}
.datos{
    width: 100%;
    position: relative;
    margin-top: 130px;
}
.datos > p{
    width: 100%;
    background-color: #545454;
    color: white;
    border: 1px solid #545454;
}
.datos > div > p{
    float: left;
    width: 184px;
}
.datos > div > p:nth-child(1),.datos > div > p:nth-child(3),.datos > div > p:nth-child(11){
    width: 100px;
}
.datos > div > p:nth-child(2),.datos > div > p:nth-child(4),.datos > div > p:nth-child(12){
    width: 269.3px;
}
.cuestionario{
    width: 100%;
}
.titu-cues{
    margin-top: 130px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.titu-g{
    width: 100%;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
}
.cuestionario > p{
    width: 50%;
    background-color: #545454;
    color: white;
    float: left;
    border: 0px;
}
.cuestionario > p:nth-child(2){
    text-align: right;
    padding-right: 40px;
}
.cuestionario > div > p:nth-child(1){
    width: 10%;
    float: left;
    height: 180px;
}
.cuestionario > div > p:nth-child(2){
    width: 70%;
    float: left;
    height: 180px;
}
.cuestionario > div > p:nth-child(3){
    width: 20%;
    float: left;
    height: 180px;
}
.table{
    margin-top: 100px;
}
.general  p{
    width: 20%;
    height: 50px;
    float: left;
}
.general > p{
    background-color: #545454;
    color: white;
    border: 1px solid white;
}